<div class="page-content__wrapper--upper">
  <div class="general-content__wrapper">
    <h1>Yhteystiedot</h1>
    <h3 class="punchline">Ota yhteyttä omaan Alma-yhteyshenkilöösi tai verkkomainontatiimiimme!</h3>
  </div>
</div>

<div class="page-content__wrapper">
  <div class="general-content__wrapper">
    <ul class="vcard">
      <li class="fn">Alma Mediaratkaisut</li>
      <li class="street-address">Alvar Aallon katu 3 C</li>
      <li><span class="zip">00100</span>, <span class="locality">Helsinki</span></li>
      <li class="email"><a href="#">verkkomainonta@almamedia.fi</a></li>
    </ul>
  </div>
</div>
